* {
  /* Reset settings */
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
body {
  /* This is kind of unusual, but it solves the problem */
  background-color: hsl(230, 15%, 15%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-container {
  background-color: hsl(230, 15%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  padding: 10px;
}
