* {
  /* Reset settings */
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
body {
  /* This is kind of unusual, but it solves the problem */
  background-color: #161619;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #23252c;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 550px;
  margin: 50px;
}
